/* Start Variables*/
:root{
    --main-color:#ffe500;
    --secondry-color:#1a1a1a;
}
/* End Variables*/

/* Start Global Rules*/
*{
    -webkit-box-sizing:border-box ;
    -moz-box-sizing:border-box ;
    box-sizing:border-box ;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Raleway","sans-serif";
}

.parent{
    background-color: #eee;
}
.container{
    margin-left: auto;
    margin-right:auto;
    padding-left:15px ;
    padding-right:15px;
}
/*Small Screen*/
@media (min-width:768px){
    .container{
        width: 750px;
    }
}
/*Medium Screen*/
@media (min-width:992px){
    .container{
        width: 970px;
    }
}
/*large Screen*/
@media (min-width:1200px){
    .container{
        width: 1170px;
    }
}
/* End Global Rules*/
/* Start Components  */
button{
    cursor: pointer;
}
a{
    text-decoration: none;
    color: white;
}
.main-heading {
    padding-bottom: 60px;
}
.main-heading i {
    font-size: 30px;
}
.main-heading h3{
    font-weight: 400;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.main-heading p{
    color: #707070;
    line-height: 2.8;
}
/* End Components  */
/*Start Header style*/
.header{
    padding:20px;
    background-color: var(--secondry-color);
}
.header .container{
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.container .logo{
    width:100px;
}
.header .links{
    position:relative;
}
.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-end;
}
.header .links .icon span{
    background-color: var(--main-color);
    height:3px;
    margin-bottom:5px;
    border-radius: 30px;
}
.header .links .icon span:first-child{
    width:100%;
}
.header .links .icon span:nth-child(2){
    width:80%;
    transition:width 0.3s ;
}
.header .links:hover .icon span:nth-child(2){
    width:100%
}
.header .links .icon span:last-child{
    width:60%;
    transition: width 0.4s;
}
.header .links:hover .icon span:last-child{
    width:100%
}
.header .links ul{
    list-style:none;
    padding:0;
    margin:0;
    background-color:#F6F6F6;
    position:absolute;
    right:0;
    top:calc(100% + 15px);
    min-width:200px;
    display: none;
    z-index: 1;
}
.header .links ul::before{
    content: "";
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent #F6F6F6 transparent;
    position:absolute;
    right:5px;
    top:-20px;
}
.header .links ul li a{
    padding:15px;
    display: block;
    text-decoration: none;
    color:#333;
    transition:0.3s;
}
.header .links ul li a:hover{
    padding-left:25px;
}
.header .links ul li:not(:last-child) a{
    border-bottom:1px solid #ddd;
}
/*End Header style*/
/* Start Landing Style */
.landing-section{
    background-image: url('../images/l1.webp');
    background-size: cover;
    background-position: center;
    height: calc(100vh - 80px);
    position: relative;
}
.landing-overlay{
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
.landing-section .info{
    position: absolute;
    top:50%;
    left: 50%;
    transform:translate(-50% , -50%);
    text-align:center;
    width:875px;
    max-width: 100%;
}
.landing-section .info h4{
    color: white;
    font-size: 15px;
    letter-spacing: 20px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;
}
.landing-section .info p{
    color: white;
    font-size: 13px;
    letter-spacing: 8px;
    margin-bottom: 35px;
}
@media (max-width:767px) {
    .landing-section .info{
        padding: 10px 20px;
    } 
    .landing-section .info h4{
        line-height: 2;
        font-size: 12px;
        letter-spacing: 15px;
    } 
    .landing-section .info p{
        line-height: 2;
        font-size: 10px;
    } 
}
.landing-section .info button{
    color: black;
    background-color: var(--main-color);
    font-size: 12px;
    font-weight: 700;
    padding: 12px 20px;
    letter-spacing: 2px;
    border: none;
    border-radius: 3px;
}
.landing-section .arrows{
    position: absolute;
    bottom: 10px;
    left: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-name: arrow-play;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;
    animation-direction: alternate;  
}
.landing-section .arr1{
    font-size: 10px;
    margin-bottom: -13px;
}
.landing-section .arr2{
    font-size: 25px;
}
@keyframes arrow-play {
    0% {
        bottom: 50px;
    }
    20% {
        bottom: 10px;
    }
    40% {
        bottom: 50px;
    }
    60% {
        bottom: 10px;
    }
    80% {
        bottom: 50px;
    }
    100% {
        bottom: 10px;
    }
}
/* End Landing Style */
/* Start Mountain Section */
.mountain{
    height: 90vh;
    position: relative;
}
.mountain .content{
    position: absolute;
    top:50%;
    left: 50%;
    transform:translate(-50% , -50%);
    text-align: center;
}
.mountain .content .mount-icon{
    color: var(--main-color);
    font-size: 60px;
}
.mountain .content .mount-icon .ico2{
    font-size: 45px;
    margin-left: -30px;
}
.mountain .content p{
    line-height: 2.5;
}
/* End Mountain Section */
/* Start Services Section */
.our-service{
    background-color: #f4f4f4;
    text-align: center;
    padding: 55px 20px 45px;
}
.Services-list{
    margin: 0 auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.Services-list .services .serv-box{
    background-color: #ffffff;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.21);
    padding: 40px 35px 20px;
    margin-bottom: 25px;
}
.Services-list .services .serv-box i{
    color: var(--main-color);
    font-size: 55px;
}
.Services-list .services .serv-box h4{
    font-weight: 500;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.Services-list .services .serv-box p{
    color: #707070;
    line-height: 2.5;
    font-weight: 500;
    margin-top: 35px;
}
.Services-list .services .prog-serv{
    background-color: #ffffff;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.21);
    padding: 15px 35px 20px;
    text-align: start;
}
.Services-list .services .prog-serv .box{
    margin-bottom:20px;
}
.Services-list .services .prog-serv .progress{
    display: flex;
    height: 8px;
    overflow: hidden;
    background-color: #f4f4f4;
    margin-top: 15px;
}
.Services-list .services .prog-serv .progress-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: var(--main-color);
    transition: width .6s ease;
}
/* End Services Section */
/* Start Statistics Section */
.stat{
    background-color: var(--secondry-color);
    padding: 70px 30px;
}
.stat .boxes{
    margin: 0 auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    text-align: center;
    justify-items: center;
}
.stat .boxes .box{
    background-color: #ffffff;
    padding: 5px 50px;
    width: 80%;
}
.stat .boxes .box span{
    font-weight: 500;
}
.stat .boxes .box p{
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
}
/* End Statistics Section */
/* Start Portofolio Section */
.portfolio{
    background-color: #ffffff;
    text-align: center;
    padding: 55px 20px 45px;
}
.portfolio .container .shuffle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 5px 20px; 
    margin-bottom: 80px;
}
@media (max-width:767px) {
    .portfolio .container .shuffle{
        flex-direction: column;
    }
}
.portfolio .container .shuffle span{
    padding: 20px 35px;
    transition:all 0.3s ease-out ;
}
@media (max-width:767px) {
    .portfolio .container .shuffle span{
        width: 100%;
        margin: 10px 0;
    }
}
.portfolio .container .shuffle span:hover,
.active{
    background-color: black;
    color:white;
    border-radius: 5px;
}
.img-shuffle.active,
.portfolio .shuffle-images .imgs-container .box.active{
    background-color: transparent;
}
.hide,
.sm-all{
    display: none;
}
@media (max-width:767px) {
    .sm-all{
        display: block;
    }
}
.portfolio .container .shuffle .img-shuffle img{
    width: 55px;
}
.portfolio .container .shuffle .img-shuffle{
    position: relative;
}
@media (max-width:767px) {
    .portfolio .container .shuffle .img-shuffle{
        display: none;
    }
}
.portfolio .container .shuffle .img-shuffle::before{
    content: "";
    position: absolute;
    width: 150px;
    height: 8px;
    background-color: #ffffff;
    top: -10px;
    left: -50px;
}
.portfolio .container .shuffle .img-shuffle::after{
    content: "";
    position: absolute;
    width: 150px;
    height: 8px;
    background-color: #ffffff;
    bottom: -10px;
    left: -50px;
}
.shuffle-images{
    margin: 0 auto 70px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.portfolio .shuffle{
    display: flex;
    justify-content: center;
}
.portfolio .shuffle li{
    padding: 10px;
}
.portfolio .shuffle li.active{
    background-color: var(--main-color);
    color:white;
}
.portfolio .imgs-container{
    display: flex;
    flex-wrap: wrap;
    margin-top:60px;
}
.portfolio .imgs-container .box{
    position: relative;
    overflow: hidden;
}
.portfolio .imgs-container .box:hover .caption{
    bottom:35px;
}
.portfolio .imgs-container .box:hover img{
    transform:rotate(10deg) scale(1.1);
    -webkit-transform:rotate(10deg) scale(1.1);
    -moz-transform:rotate(10deg) scale(1.1);
    -ms-transform:rotate(10deg) scale(1.1);
    -o-transform:rotate(10deg) scale(1.1);
}
@media (min-width:768px) {
    .portfolio .imgs-container .box{
        flex-basis: 50%;
    }
}
@media (min-width:1199px) {
    .portfolio .imgs-container .box{
        flex-basis: 20%;
    }
}
.portfolio .imgs-container .box img{
    max-width: 100%;
    transition:0.4s;
    -webkit-transition:0.4s;
    -moz-transition:0.4s;
    -ms-transition:0.4s;
    -o-transition:0.4s;
}
.portfolio .imgs-container .box .caption{
position: absolute;
left: 0;
padding: 20px;
width:100%;
transition: 0.4s;
bottom:-100%;
}
.portfolio .imgs-container .box .caption h4{
    font-weight: bold;
    margin-bottom:10px;
    color: black;
}
.portfolio .imgs-container .box .caption p{
    color: var(--secondry-color);
    font-size: 12px;
    line-height: 2.5;
}
.portfolio .more{
    background-color: var(--main-color);
    color: white;
    padding:15px 20px;
    display: block;
    width:fit-content;
    margin:30px auto;
    text-decoration: none;
    text-transform: uppercase;
}
.portfolio .imgs-container .box .caption .inner {
    position: relative;
}
.portfolio .imgs-container .box .caption .sub-cap {
    background-color: white;
    padding: 10px 12px;
    z-index: 9999;
    position: relative;
}
.portfolio .imgs-container .box .caption .back-cap {
    position: absolute;
    background-color: var(--main-color);
    height: 220px;
    width: 80%;
    left: 50%;
    top: -25px;
    opacity: 0.7;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
@media (max-width:1200px) {
    .portfolio .imgs-container .box .caption .back-cap {
        display: none;
    }
}
.portfolio button{
    padding: 20px 30px;
    background-color: var(--main-color);
    border: none;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
}
.portfolio button:hover{
    background-color: transparent;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-radius: 0;
}
/* End Portofolio Section */
/* Start Video Section */
.video-section{
    height: 45vh;
    position: relative;
    text-align: center;
    background-image: url(../images/video.webp);
    background-size: cover;
}
.video-section .video-overlay{
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}
.video-section button{
    padding: 18px 30px;
    border: 1px solid var(--main-color);
    background-color: transparent;
    color: var(--main-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-130px, -15px);
    letter-spacing: 5px;
    text-transform: uppercase;
}
@media (max-width:767px) {
    .video-section button{
        transform: translate(-95px, -25px);
        font-size: 12px;
    }
}
/* End Video Section */
/* Start OurTeam Section */
.our-team{
    background-color: #ffffff;
    text-align: center;
    padding: 55px 20px 60px;
}
.our-team .team{
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}
.our-team .box{
    flex-basis: 22%;
    width:20%;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.21);
    margin-bottom: 20px;
}
@media (max-width:1200px) {
    .our-team .box{
        flex-basis: 48%;
    }
}
@media (max-width:767px) {
    .our-team .box{
        flex-basis: 100%;
    }
}
.our-team .box img{
    max-width: 100%;
}
.our-team .box h3{
    background-color: var(--main-color);
    color: var(--secondry-color);
    padding: 20px 0px;
    margin-top: -5px;
}
.our-team .box p{
    padding: 8px 15px;
    font-size: 12px;
    line-height: 2;
}
/* End OurTeam Section */
/* Start Ceo Section */
.ceo{
    position: relative;
}
.ceo .overlay-layer{
    position: absolute;
    width: 100%;
    height: 200px;
    background-color: var(--main-color);
    top: 50%;
    transform: translateY(-115px);
    z-index: -5;
}
@media (max-width:767px) {
    .ceo .overlay-layer{
        display: none;
    }
}
.ceo .ceo-boxes{
    margin: 0 auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.ceo .ceo-boxes .box1 .text {
    display: flex;
    flex-direction: column;
}
.ceo .ceo-boxes .box2 .text {
    display: flex;
    flex-direction: column-reverse;
}
@media (max-width:767px) {
    .ceo .ceo-boxes .box2 .text {
        flex-direction: column;
    }
    .ceo .ceo-boxes .box2 .text .quote{
        margin-bottom: 25px;
        padding-top: 0;
    }
}
.ceo .ceo-boxes .box1 .text .info{
    background-color: var(--secondry-color);
    color: white;
    padding: 35px 45px 55px;
    font-weight: 500;
    line-height: 2.8;
    font-size: 12px;
    margin-bottom: 35px;
}
.ceo .ceo-boxes .box1 .text .quote{
    padding: 20px;
    text-align: start;
}
.ceo .ceo-boxes .box2 .text .quote{
    padding: 20px;
    text-align: end;
    margin-bottom: 45px;
}
.ceo .ceo-boxes .box1 .text .quote p,
.ceo .ceo-boxes .box2 .text .quote p{
    color: #707070;
    line-height: 2;
    margin-bottom: 35px;
}
.ceo .ceo-boxes .box1 .text .quote span,
.ceo .ceo-boxes .box2 .text .quote span{
    color: var(--secondry-color);
    font-weight: 700;
}
.ceo .ceo-boxes .box2 .info-img{
    height: 382px;
    overflow: hidden;
    margin-bottom: 35px;
}
@media (max-width:767px) {
    .ceo .ceo-boxes .box2 .info-img {
        height: 280px;
        margin-bottom: 10px;
    }
}
.ceo .ceo-boxes .box2 .info-img img{
    max-width: 100%;
}
/* End Ceo Section */
/* Start Footer Section */
.footer{
    background-color: var(--secondry-color);
    color: #ffffff;
    padding: 50px 20px 30px;
}
.footer .inner-foot{
    margin: 0 auto ;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
@media (max-width:767px) {
    .footer .inner-foot{
        text-align: center;
    }
}
.footer .inner-foot .details .info img{
    width: 120px;
}
.footer .inner-foot .details .info p{
    font-size: 12px;
    line-height: 2.2;
    margin-bottom: 40px;
}
.footer .inner-foot .details .copy-right{
    font-size: 12px;
    font-weight: 600;
    line-height: 2;
}
.footer .inner-foot .details .copy-right span{
    color: var(--main-color);
    font-weight: 700;
}
.footer .inner-foot .links,
.footer .inner-foot .about-us{
    padding: 0px 15px;
}
.footer .inner-foot .links h4,
.footer .inner-foot .about-us h4,
.footer .inner-foot .contact-us h4{
    letter-spacing: 4px;
}
.footer .inner-foot .links ul,
.footer .inner-foot .about-us ul{
    list-style: none;
    padding: 0;
}
.footer .inner-foot .links ul li,
.footer .inner-foot .about-us ul li{
    margin-bottom: 22px;
    font-size: 15px;
}
.footer .inner-foot .links ul li:last-of-type,
.footer .inner-foot .about-us ul li:last-of-type{
    margin-bottom: 0;
}
.footer .inner-foot .contact-us p{
    font-size: 12px;
    line-height: 2;
}
.footer .inner-foot .contact-us button{
    padding: 10px 55px;
    border-radius: 30px;
    border: none;
    background-color: var(--main-color);
    font-size: 12px;
    font-weight: 600;
}
.footer .inner-foot .contact-us ul{
    list-style: none;
    display: flex;
    padding: 0;
}
@media (max-width:767px) {
    .footer .inner-foot .contact-us ul{
        justify-content: center;
    }
}
.footer .inner-foot .contact-us ul li{
    background: #ffffff;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 2;
    border-radius: 50%;
}
.footer .inner-foot .contact-us ul li i{
    color: var(--secondry-color);
}

/* End Footer Section */